
.js-pinned {
  will-change: transform;
  height: 100%;
}

.c-docs__screenshot {
  padding: $unit-small;
  background-color: color(tint);
  display: flex;

  > *:first-child {
    box-shadow: 0 0 30px rgba(0,0,0,.3);
    padding: $unit-tiny;
    border-radius: $global-radius;
    margin: 0 auto;
  }

  border-radius: $global-radius;
}
