
.c-header__mobile__item {
  display: inline-block;
  border: 1px solid;
  border-color: color('primary');
  border-radius: 32px;
  height: 32px;
  width: 32px;
  font-size: 12px;
  text-align: center;
  line-height: 32px;
  margin-left: 1px;
}
