
$global-radius: 5px !default;
$global-transition: (1/2) + s !default;

$inuit-font-size-h6:  $inuit-global-font-size;
$inuit-font-size-h5:  $inuit-font-size-h6 * 1.1;
$inuit-font-size-h4:  $inuit-font-size-h5 * 1.1;
$inuit-font-size-h3:  $inuit-font-size-h4 * 1.1;
$inuit-font-size-h2:  $inuit-font-size-h3 * 1.1;
$inuit-font-size-h1:  $inuit-font-size-h2 * 1.25;
