
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  letter-spacing: 0.033333333em;
  margin-top: $unit-large;

  &:first-child {
    margin-top: 0;
  }
}



// Horizontal rules
hr {
  width: 100%;
  height: 1px;
  border: none;
  background: color(tint);
  margin-top: $unit;
  margin-bottom: $unit*2 - 1px;
}
